
html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f9faf8;
}

body {
    margin: 0px;
}

nav {
    background-color: #2D2222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: inline-flex;
    margin-right: 150px;
}

li {
    list-style: none;
    margin-left: 50px;
}

a {
    color:lightgrey;
    text-decoration-line: none;
}

.logo {
    padding-left: 190px;
}

.main {
    background-color: #2D2222;
    padding-top: 100px;
    padding-left: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-txt {
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.title {
    font-size: 48px;
    font:bolder;
    margin:0px;
}

.text {
    font-size: 18px;
    color: #e5e7eb;
}

#sign-up {
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
    background-color:#F5834F;
    border-radius: 8px;
    border: none; 
    width: 150px;
    padding: 10px;
}

.falcon-left {
    width: 600px;
    height: 450px;
    align-content: center;
}

.content {
    color: #2D2222;
    font: bolder;
    font-size: 36px;
    text-align: center;
}

.info-content {
    font-size: 24px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-content img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #F5834F;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

.quote {
    background-color: #312B2B;
    font-size: 36px;
    font: lighter;
    color: #e5e7eb;
    text-align: center;
    padding: 80px;
}

.sign-up {
    background-color: #F5834F;
    margin: 50px 180px;
    padding: 20px 80px;
    text-align: center;
    border-radius: 8px;
}

.sign-up p {
    margin-bottom: 10px;
}

.sign-up button {
    margin-bottom: 10px;
    background-color: #e5e7eb;
    color: #2D2222;
    font-weight: bold;
    border-radius: 8px;
    border: none; 
    width: 130px;
    padding: 10px;
}

.footer {
    background-color: #2D2222;
    text-align: center;
    font-size: small;
    padding: 10px;
}
